body {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    height: 100%;
}
body:before {
    content: "";
    position: absolute;
    background-image: url('https://images.wallpaperscraft.ru/image/single/okean_pliazh_vid_sverhu_134429_2560x1080.jpg');
    background-size: cover;
    z-index: -1; /* Keep the background behind the content */
    height: 20%; width: 20%; /* Using Glen Maddern's trick /via @mente */

    /* don't forget to use the prefixes you need */
    transform: scale(5);
    transform-origin: top left;
    filter: blur(1.5px);
}

table{
    background-color: aliceblue;
}

.product-create{
    color: white;
}